<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">

</head>

<body>

<h2>Select Option Example 1</h2>
<form method="post">

    <table>
        <tr>
            <td>Select Dish:</td>
            <td>
                <select th:field="*{savedish}">
                    <option value=""> -- </option>
                    <option th:each="dish : ${dishlist}"
                            th:value="${dish}"
                            th:utext="${dish.name}"/>
                </select>
            </td>
            <td>Select Ingredient:</td>
            <td>
                <select th:field="*{saveingredient}">
                    <option value=""> -- </option>
                    <option th:each="ingredient : ${ingredientlist}"
                            th:value="${ingredient}"
                            th:utext="${ingredient.name}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td><input name="Connect" type="submit" value="Submit" /></td>
        </tr>
    </table>

</form>
</body>
</html>