<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>99 Problems</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<img >


<div class="h2 text-center">
<h1 >I got 99 problems but a dish ain't one</h1>
<a class="h2" th:href="@{/manage}" style="color: #ff6969">Manage</a>
<br/>
<a class="h2" th:href="@{/weekly_menu}" style="color: #ff6969">Weekly Menu</a>

</div>
<img src="https://pbs.twimg.com/media/DbqGQJJXUAEK-pL.jpg" alt="Naugthy Jay-z" style="border-style: inset; border-width: 50px; display: block; width: 80%; height: 650px; margin: 0 auto">
</body>

</html>