<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<form th:action="@{/manage/saveingredient}" method="post" th:object="${ingredient}">
    <input type="hidden" th:field="${ingredient.id}"/>
    <div>
        <label>Name</label>
        <input required th:field="${ingredient.name}"/>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/manage}">Cancel</a>
</body>
</html>