<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veckans Meny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <h1>Manage</h1>
</div>

<div class="container text-center">
    <a class="h4" th:href="@{/manage/dish_form/}">Add New Dish</a>
    <br/>
    <a class="h4" th:href="@{/manage/ingredient_form/}">Add New Ingredient</a>
    <br/>
    <a class="h4" th:href="@{/manage/connect/}">Connect</a>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Vegetarian</th>
        <th>Ingredients</th>
        <th>Likes</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody class="table-light">
    <th:block th:each="dish : ${dishlist}">
        <tr>
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>

            <div th:if="${dish.vegetarian}">
            <td th:text="Yes"></td>
            </div>

            <div th:unless="${dish.vegetarian}">
                <td th:text="No"></td>
            </div>

            <td th:text="${dish.ingredients}"></td>
            <td th:text="${dish.likes}"></td>
            <td>
                <a class="h4 m-3" th:href="@{'/manage/updatedish/' + ${dish.id}}">Update</a>
                <a class="h4 m-3" th:href="@{'/manage/deletedish/' + ${dish.id}}">Delete</a>
                <a class="h4 m-3" th:href="@{'/manage/updatelikes/' + ${dish.id}}">Like</a>
                <a class="h4 m-3" th:href="@{'/manage/updatedislikes/' + ${dish.id}}">Dislike</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<br/>
<br/>

<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody class="table-light">
    <th:block th:each="ingredient : ${ingredientlist}">
        <tr>
            <td th:text="${ingredient.id}"></td>
            <td th:text="${ingredient.name}"></td>

            <td>
                <a class="h4 m-3" th:href="@{'/manage/updateingredient/' + ${ingredient.id}}">Update</a>
                <a class="h4 m-3" th:href="@{'/manage/deleteingredient/' + ${ingredient.id}}">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>